{% extends "_base.html" %}

{% block page_title %}
books
{% endblock page_title %}

{% block content %}
    <h1>Here are the books</h1>
    <form action=''>
    {% csrf_token %}
            {% for book in book %}
                <div class="card shadow-sm my-3">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted small py-2">{{book.author}}</h6>
                        <p class="card-text py-3">
                            {{book.desctiption}}
                        </p>
                        <h6 class="card-subtitle mb-2 text-muted small py-2"> price :{{book.pricee}}</h6>
                        <a class="btn btn-success" href= "{% url 'book-detail' book.id %}" role="button">Read More</a>
                    </div>
                </div>
            {% endfor %} 
    </form>

{% endblock content %}