{% extends "_base.html" %}

{% block page_title %}
Delete
{% endblock page_title %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <div class="card shadow my-3 p-5">
                <h3>آیا مطمعن هستید که میخواید حذف کنید کتاب ؟{{post.title}}</h3>

                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">بله حذف شود</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}